@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to  Fabrikam Technical Training Recommendation System</h1>
    <p>
        Our new wesbsite recommends specific training sessions to users based on their
        knowledge, skill sets and needs, plus any other additional requirements they wish to learn.
        Simply search for your desired training session and get started </a>.
    </p>
</div>
